Quellen/*
*.bak
*.aux
*.log
*.swp
*.bbl
*.blg
*.pdf
*.idx
*.ilg
*.ind
*.nlo
*.nls
*.lof
*.out
*.gz
*.toc
*.txt
*.xml
*.lot
*.dvi
*.ps
*.~*
*.bcf
*.fdb_latexmk
*.fls
*.synctex(busy)
*.bcf
*.md5
*.auxlock
*.dpth
*.dep